<!DOCTYPE html>
<html>
<head>
  <title>Faculty Recruitment | NIT Trichy</title>
  <%- include('partials/commonHeaderIncludes.partial.ejs') %>
</head>
<body>
  
  <%- include('partials/topNavbar.partial.ejs') %>
  
  <div class="applications" style="margin-left: 30px">
    <h4 style="padding:30px 0px;"> Hi, <%= user.name%></h4>
    <h5>Your applications:</h5>
    <div class="applications" style="margin-left: 10px;">
      <table class="table">
        <tr class="row">
          <th style="padding:20px;" >Applied Date</th>
          <th style="padding:20px;" >Status</th>
        </tr>
        <%for(var i=0;i<user.applications.length;i++ ){%>
          <tr class="row">
            <td><%= user.applications[i].appliedDate%></td>
            <td><%= user.applications[i].status%></td>
          </tr>
        <%}%>
      </table>
      <div class="btn btn-primary">
        <a class="newApplication" href="/apply">NEW APPLICATION</a>
      </div>
    </div>
  </div>

  <%- include('partials/footer.partial.ejs') %>
</body>
</html>
  